﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona główna</title>
    <meta name="description" content="The description of my page" />
</head>
<body>
    <div> 

        <h2>Aplikacja dla pracy magisterskiej - Rafał Serafin</h2>

    </div>
</body>
</html>
