﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Customer</title>



    @Scripts.Render("~/bundles/npm")
    @Scripts.Render("~/bundles/AngularCtrl")
    @Styles.Render("~/bundles/npmStyles")


</head>

<script>

    function my(){

        var model =  @Html.Raw(Json.Encode(@Model));
        sessionStorage.setItem("urlParams",JSON.stringify(model));

    };

    my();
</script>

<body>
    <div ng-app="magisterkaModule" ng-controller="CustomerCtrl">


        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Update customer</h2>
                    <form>

                        <div class="col-sm-6">


                            <div class="form-group">
                                <label for="companyName">Company name:</label>
                                <input type="text" class="form-control" id="companyName" ng-model="customer.CompanyName">
                            </div>

                            <div class="form-group">
                                <label for="contactName">Contact name:</label>
                                <input type="text" class="form-control" id="contactName" ng-model="customer.ContactName">
                            </div>


                            <div class="form-group">
                                <label for="contactTitle">Contact title:</label>
                                <input type="text" class="form-control" id="contactTitle" ng-model="customer.ContactTitle">
                            </div>

                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input type="text" class="form-control" id="address" ng-model="customer.Address">
                            </div>

                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" ng-model="customer.City">
                            </div>
                        </div>

                        <div class="col-sm-6">



                            <div class="form-group">
                                <label for="region">Region:</label>
                                <input type="text" class="form-control" id="region" ng-model="customer.Region">
                            </div>

                            <div class="form-group">
                                <label for="postalCode">Postal code:</label>
                                <input type="text" class="form-control" id="postalCode" ng-model="customer.PostalCode">
                            </div>

                            <div class="form-group">
                                <label for="country">Country:</label>
                                <input type="text" class="form-control" id="country" ng-model="customer.Country">
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="text" class="form-control" id="phone" ng-model="customer.Phone">
                            </div>

                            <div class="form-group">
                                <label for="fax">Fax:</label>
                                <input type="text" class="form-control" id="fax" ng-model="customer.Fax">
                            </div>
                        </div>

                        <button id="formSave" type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                        <button id="formReset" type="reset" class="btn btn-warning">Reset form</button>

                        <div id="komunikat">
                        </div>

                    </form>
                </div>
            </div>
        </div>


    </div>
</body>
</html>
