﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Supplier</title>
</head>

@Scripts.Render("~/bundles/npm")
@Scripts.Render("~/bundles/AngularCtrl")
@Styles.Render("~/bundles/npmStyles")

<body>
    <div ng-app="magisterkaModule" ng-controller="SupplierAddCtrl">

        <h2>Add supplier</h2>

        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <form>

                        <div class="col-sm-6 col-xs-12">


                            <div class="form-group">
                                <label for="companyName">Company name:</label>
                                <input type="text" class="form-control" id="companyName" ng-model="supplier.CompanyName">
                            </div>

                            <div class="form-group">
                                <label for="contactName">Contact name:</label>
                                <input type="text" class="form-control" id="contactName" ng-model="supplier.ContactName">
                            </div>


                            <div class="form-group">
                                <label for="contactTitle">Contact title:</label>
                                <input type="text" class="form-control" id="contactTitle" ng-model="supplier.ContactTitle">
                            </div>

                            <div class="form-group">
                                <label for="address">Address:</label>
                                <input type="text" class="form-control" id="address" ng-model="supplier.Address">
                            </div>

                            <div class="form-group">
                                <label for="city">City:</label>
                                <input type="text" class="form-control" id="city" ng-model="supplier.City">
                            </div>

                            <div class="form-group">
                                <label for="region">Region:</label>
                                <input type="text" class="form-control" id="region" ng-model="supplier.Region">
                            </div>

                        </div>

                        <div class="col-sm-6 col-xs-12">

                            <div class="form-group">
                                <label for="postalCode">Postal code:</label>
                                <input type="text" class="form-control" id="postalCode" ng-model="supplier.PostalCode">
                            </div>

                            <div class="form-group">
                                <label for="country">Country:</label>
                                <input type="text" class="form-control" id="country" ng-model="supplier.Country">
                            </div>

                            <div class="form-group">
                                <label for="phone">Phone:</label>
                                <input type="text" class="form-control" id="phone" ng-model="supplier.Phone">
                            </div>

                            <div class="form-group">
                                <label for="fax">Fax:</label>
                                <input type="text" class="form-control" id="fax" ng-model="supplier.Fax">
                            </div>

                            <div class="form-group">
                                <label for="HomePage">HomePage:</label>
                                <input type="text" class="form-control" id="HomePage" ng-model="supplier.HomePage">
                            </div>

                        </div>

                        <button id="formSave" type="submit" class="btn btn-primary" ng-click="save()">Save</button>
                        <button id="formReset" type="reset" class="btn btn-warning">Reset form</button>

                        <div id="komunikat">
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
