﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Suppliers</title>

    @Scripts.Render("~/bundles/npm")
    @Scripts.Render("~/bundles/AngularCtrl")
    @Styles.Render("~/bundles/npmStyles")

</head>
<body>
    <div> 


        <div ng-app="magisterkaModule" ng-controller="SupplierCtrl">


            <button style="margin: 15px;" type="button" class="btn btn-primary">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> &nbsp;Dodaj nowego klienta
            </button>


            <table class="table table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>CompanyName</th>
                        <th>ContactName</th>
                        <th>ContactTitle</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Region</th>
                        <th>PostalCode</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>HomePage</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="s in suppliers">
                        <td id="opcje{{$index}}">
                            <span style="color: red; font-size: 150%; cursor: pointer;" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="usun(s)"></span>
                            <span style="color: green; font-size: 150%; cursor: pointer;" class="glyphicon glyphicon-pencil" aria-hidden="true" ng-click="edit(s.SupplierId)"></span>
                            
                        </td>
                        <td id="SupplierId{{s.SupplierId}}">
                            {{s.SupplierId}}
                        </td>
                        <td id="CompanyName{{s.SupplierId}}">
                            {{s.CompanyName}}
                        </td>
                        <td id="ContactName{{s.SupplierId}}">
                            {{s.ContactName}}
                        </td>
                        <td id="ContactTitle{{s.SupplierId}}">
                            {{s.ContactTitle}}
                        </td>
                        <td id="Address{{s.SupplierId}}">
                            {{s.Address}}
                        </td>
                        <td id="City{{s.SupplierId}}">
                            {{s.City}}
                        </td>
                        <td id="Region{{s.SupplierId}}">
                            {{s.Region}}
                        </td>
                        <td id="PostalCode{{s.SupplierId}}">
                            {{s.PostalCode}}
                        </td>
                        <td id="Country{{s.SupplierId}}">
                            {{s.Country}}
                        </td>
                        <td id="Phone{{s.SupplierId}}">
                            {{s.Phone}}
                        </td>
                        <td id="Fax{{s.SupplierId}}">
                            {{s.Fax}}
                        </td>
                        <td id="HomePage{{s.SupplierId}}">
                            {{s.HomePage}}
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</body>
</html>
